<ion-view view-title="Case Registered" cache-view="true" enable-menu-with-back-views="false">
    <ion-nav-buttons side="left">
      <button ng-controller="utils" class="button icon ion-android-arrow-back" on-tap="go('home')"></button>
    </ion-nav-buttons>

	<ion-content overflow-scroll="true" animation="slide-left-right">
        
        <div class="card">
           
          <center>
              <br>
              <img src="img/5TRX89egc.png" style="width:128px" />
              <br><br>
              <p>All Ambulances are busy right now.</p>
              <p>We've notified the rescue team who will arrive as soon as possible.</p>

          </center>

        </div>


	</ion-content> 

</ion-view>