<ion-view view-title="Home" cache-view="true" enable-menu-with-back-views="false">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button on-tap="" class="button icon ion-compose"></button>
    </ion-nav-buttons>

	<ion-content overflow-scroll="true" animation="slide-left-right" ng-controller="utils">
        
        <h5>Recent Activities</h5>

	</ion-content> 

</ion-view>