

* {
	font-family: "Roboto",sans-serif;
}

.bar-subheader {
	box-shadow: none;
	-webkit-box-shadow: none;
}

a.item {
	padding: 10px !important;
}

a.item i {
	padding-right: 30px !important;
} 

.side-menu {
	padding-top: 0 !important;
}

.side-menu-header {
	background: #FF4081 url('../img/header.jpg');
	background-size: cover;
  	height: 200px;
}

.popup-container .popup {
	background-color: #FFF !important;
}

.popup-container input {
	border-bottom: 1px solid #CCC;
}


.card h2 {
    text-decoration: none !important;
}

.side-menu a {
  padding: 20px !important;
}

.card h2 {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 100%;
    text-align: center;
}

.content-title {
  font-family: "Roboto", sans-serif !important;
  font-weight: 300 !important;
}

.lighten {
  opacity: 0.2;
}
.card {
	margin: 10px !important;
  padding: 10px !important;
  background: #FFF !important;
  border-radius: 0px !important;
}

.complaint-card {
  border-left: 2px solid;
}

.complaint-card-title {
  margin: 0 !important;
}

.complaint-card-title span {
  color: #CCC;
}

.complaint-card p span {
  color: #5C5C5C !important;
}

.complaint-card img {
  width: 100%;
}

.camera-card {
  height: 150px;
}

.camera-card h5 {
  font-family: "Roboto" !important;
  font-weight: 300 !important;
  margin-top: 50px !important;
}

.camera-card i {
  margin-right: 10px !important;
}

.rescued {
  border-left-color: #27ae60 !important;
}

.registered {
  border-left-color: #d35400 !important;
} 

.on-progress {
  border-left-color: #f39c12 !important;
}

label .item {
  border-bottom: 1px solid #CCC;
}
