<!DOCTYPE html>
<html lang="en" ng-app="VolunteerSystem">
  <head>
    <meta charset="UTF-8">
    <title>Responsive Table with Bootstrap</title>
    
    
    <link rel="stylesheet" href="css/normalize.css">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/myangular.js"></script>


<script>
function display(param){
    
    document.getElementById("parent_title").innerHTML=param;
    if(param === "Applicants for Interview"){
        document.getElementById("inductionDetails").style.display="none";
        document.getElementById("logo").style.display="none";
        document.getElementById("contentArea").style.display="block";
        document.getElementById("interviewDetails").style.display="block";
    }
    else{
        document.getElementById("inductionDetails").style.display="block";
        document.getElementById("contentArea").style.display="block";
        document.getElementById("logo").style.display="none";
        document.getElementById("interviewDetails").style.display="none";
    }
}
    
    function checkAll(ele) {
     var checkboxes = document.getElementsByTagName('input');
     if (ele.checked) {
         for (var i = 0; i < checkboxes.length; i++) {
             if (checkboxes[i].type == 'checkbox') {
                 checkboxes[i].checked = true;
             }
         }
     } else {
         for (var i = 0; i < checkboxes.length; i++) {
             console.log(i)
             if (checkboxes[i].type == 'checkbox') {
                 checkboxes[i].checked = false;
             }
         }
     }
 }
    function fnExcelReport(){
    var tab_text="<table border='2px'><tr bgcolor='#87AFC6'>";
    var textRange; var j=0;
    tab = document.getElementById('VolunteerRecords'); // id of table

    for(j = 0 ; j < tab.rows.length ; j++) 
    {     
        tab_text=tab_text+tab.rows[j].innerHTML+"</tr>";
        //tab_text=tab_text+"</tr>";
    }

    tab_text=tab_text+"</table>";
    tab_text= tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
    tab_text= tab_text.replace(/<img[^>]*>/gi,""); // remove if u want images in your table
    tab_text= tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

    var ua = window.navigator.userAgent;
    var msie = ua.indexOf("MSIE "); 

    if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
    {
        txtArea1.document.open("txt/html","replace");
        txtArea1.document.write(tab_text);
        txtArea1.document.close();
        txtArea1.focus(); 
        sa=txtArea1.document.execCommand("SaveAs",true,"Say Thanks to Sumit.xls");
    }  
    else                 //other browser not tested on IE 11
        sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));  

    return (sa);
}
      </script>
  </head>

  <body ng-controller="VolunteerController as volunteer">
<div class="container">
    <div class="jumbotron">
  <h1 style="color:#6cacf0;}">Blue Cross of India</h1>
  <p>The world belongs as much to animals as to humans. It is up to humans to ensure that animals are treated with respect, kindness and dignity. Also, healthy animals benefit the society and economy</p>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="parent_title">Choose the applicants
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="javascript:display('Applicants for Interview');">Applicants for Interview</a></li>   
      <li><a href="javascript:display('Applicants for Induction');">Applicants for Induction</a></li>
                </ul>
    </div>
</div>
<div id="logo" style="display:block;">
    <img src="img/blue_cross_logo.jpg">
</div>
<div id="contentArea" style="display:none">
  <div id="interviewDetails">
  <div class="row">
    <div class="col-xs-12">
        <table class="table table-responsive table-bordered table-hover" id="VolunteerRecords">
          <thead>
            <tr>
              <th><input type="checkbox" onchange="checkAll(this)" name="chk[]"></th>
              <th>UserID</th>
              <th>UserName</th>
              <th>ContactNumber</th>
              <th>DOB</th>
              <th>Status</th>
            </tr>
          </thead>
          
              <div ng-init="volunteers = [
  {uid:50001,uname:'John',contactNumber:'999999999' ,DOB:'25/03/1990', status:'Registered'},
  {uid:50002,uname:'John', contactNumber:'999999999' ,DOB:'25/03/1990', status:'Registered'},
{uid:50007,uname:'John',contactNumber:'999999999' , DOB:'25/03/1990', status:'Registered'},
{uid:50004,uname:'John',contactNumber:'999999999' , DOB:'25/03/1990', status:'Registered'}
]">
  
</div>
              
              
            <tbody  ng-model="q" placeholder="filter volunteers..." aria-label="filter volunteers">
            <tr ng-repeat="volunteer in volunteers | orderBy:'-uid'" >
                <td style="align:center;"><input type="checkbox"></td>
              <td>{{volunteer.uid}}</td>
              <td>{{volunteer.uname}}</td>
                <td>{{volunteer.contactNumber}}</td>
                <td>{{volunteer.DOB}}</td>
                <td>{{volunteer.status}}</td>
                
              </tr>
          </tbody>
        </table>
            </div>
        </div>
      </div>
      <div id="inductionDetails">
  <div class="row">
    <div class="col-xs-12">
        <table class="table  table-responsive table-bordered table-hover">
          <thead>
            <tr>
            <th><input type="checkbox" name="selectAll" value="selectAll"> Select All</th>
              <th>Country</th>
              <th>Languages</th>
              <th>Population</th>
              <th>Median Age</th>
              <th>Area (Km²)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Argentina</td>
              <td>Spanish (official), English, Italian, German, French</td>
              <td>41,803,125</td>
              <td>31.3</td>
              <td>2,780,387</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
    <iframe id="txtArea1" style="display:none"></iframe>
    <div class="btn-group btn-group-justified">
    <button type="submit" class="btn-primary">Send Invite</button>&nbsp;
        <button type="submit" class="btn-primary">Reject</button>&nbsp;
    <button type="submit" class="btn-primary" id="btnExport" onclick="fnExcelReport();">Export</button>
    </div>
  </div>
        <script src="js/jquery-1.11.1.min.js"></script>
        <script src="js/index.js"></script>

  </body>
</html>
