<!DOCTYPE html>
<html lang="en" ng-app="VolunteerSystem">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VOLUNTEER APPLICATION</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">   
    <link href="css/mystyles.css" rel="stylesheet">
    <link href="css/bootstrap-social.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrapValidator.min.css"/>
    <link href="css/half-slider.css" rel="stylesheet">
    <link href="css/datepicker.css" rel="stylesheet">
    <link href="css/bootstrap-switch.min.css" rel="stylesheet">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/myangular.js"></script>
   
</head>
    
<body ng-controller="VolunteerController as volunteer">
    <!-- Half Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('img/volunteer.jpg');"></div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('img/imageFirst.jpg');"></div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('img/finalanimal.jpg');"></div>
            </div>
        
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>
    <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <form id="regForm" data-toggle="validator" class="form-horizontal" role="form">
                <div class="form-group" align="center">
                    <h3>Volunteer Registration Form</h3>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-6 col-sm-2">First Name:</label>
                    <div class="col-xs-6 col-sm-4">
                        <input type="text" name="firstName" class="form-control" placeholder="First Name" data-error="Please enter First name" 
						ng-model="firstName" required/>
                        <div class="help-block with-errors"></div>
                    </div>
                    
                    <label class="control-label col-xs-6 col-sm-2">Last Name:</label>
                    <div class="col-xs-6 col-sm-4">
                        <input type="text" name="lastName" class="form-control" placeholder="Last Name" ng-model="lastName" required />
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                 <div class="form-group">   
                    <label class="control-label col-xs-6 col-sm-2">Gender:</label>
                    <div class="col-xs-6 col-sm-2" ng-model="gender">
                        <label class="radio-inline">
                                <input type="radio" name="gender" id="inlineRadio1" value="Male" ng-model="gender" ng-checked="true">Male
                            </label>
                             <label class="radio-inline">
                                <input type="radio" name="gender" id="inlineRadio1" ng-model="gender" value="Female">Female
                            </label>
                    </div>
                     
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-6 col-sm-2">Address:</label>
                    <div class="col-xs-6 col-sm-10">
                        <input type="text" name="address" class="form-control" placeholder="Address" ng-model="address"/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-xs-6 col-sm-2">City:</label>
                    <div class="has-feedback col-xs-6 col-sm-4">
                       <input type="text" name="city" class="form-control" ng-model="volunteer.city" readonly/>
                    </div>
                
                    <label class="control-label col-xs-6 col-sm-2">Country:</label>
                    <div class="has-feedback col-xs-6 col-sm-4">
                         <input type="text" name="country" class="form-control" ng-model="volunteer.country" readonly/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-xs-6 col-sm-2">Zip Code:</label>
                    <div class="has-feedback col-xs-6 col-sm-4">
                        <input type="text" name="pincode" class="form-control" placeholder="Pin Code" ng-model="pincode" required/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-xs-6 col-sm-2">Mobile Phone:</label>
                    <div class="col-xs-6 col-sm-4">
                        <input type="text" name="mobileNumber" class="form-control" placeholder="Mobile No." ng-model="mobileNumber" required/>
                    </div>
                
                    <label class="control-label col-xs-6 col-sm-2">Phone:</label>
                    <div class="col-xs-6 col-sm-4">
                        <input type="text" name="landPhone" class="form-control" placeholder="Landline" ng-model="landPhone"/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-xs-6 col-sm-2">E-Mail:</label>
                    <div class="col-xs-6 col-sm-4">
                        <input type="email" name="emailId" class="form-control" placeholder="Email" ng-model="emailId"/>
                    </div>
                
                    <label class="control-label col-xs-6 col-sm-2">DOB:</label>
                    <div class="date col-xs-6 col-sm-4" id="datePicker">
                        <input type="text" name="dateOfBirth" class="date-input form-control" placeholder="Date of Birth" ng-model="dateOfBirth" required/>
                        
                    </div>

                </div>
                
                <div class="form-group">
                	 <label class="control-label col-xs-6 col-sm-2">Emergency Phone:</label>
                    <div class="col-xs-6 col-sm-4">
                        <input type="text" name="emergencyNumber" class="form-control" ng-control="emergencyNumber" required/>

                    </div>
                    <label class="control-label col-xs-6 col-sm-2">Relationship with Emergency Contact:</label>
                    <div class="col-xs-6 col-sm-4">
                        <input type="text" name="relationEmergencyContact" class="form-control" ng-control="relationEmergencyContact"/>
                    </div>
                
                   
                </div>
                
                <div class="form-group">
                    <label class="control-label col-xs-6 col-sm-5">Why are you interested in becoming a volunteer at our Centre?:</label>
                    <div class="col-xs-6 col-sm-7">
                        <textarea name="reasonForVolunteering" class="form-control" rows="2" ng-model="reasonForVolunteering" required></textarea>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-xs-6 col-sm-5">Describe any previous experience working with animals:</label>
                    <div class="col-xs-6 col-sm-7">
                         <textarea name="previousExperiences" class="form-control" rows="3" ng-model="previousExperiences"></textarea>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-xs-6 col-sm-5">Please list the days and times that you are most likely to volunteer:</label>
                    <div class="col-xs-6 col-sm-7">
                      <select class="form-control" name="availabilityWeekHours" ng-model="availabilityWeekHours">
                        <option>More than 5 hours a week</option>
                        <option>1-5 hours a week</option>
                        <option>4-5 days a month</option>
                        <option>2-3 days a month</option>
                        </select>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-6 col-sm-5">Please indicate if you have any preferred days for volunteering</label>
                    <div class="col-xs-6 col-sm-7" ng-model="availabilityDays">
                      <label class="checkbox">
                        <input type="checkbox" name="monday" id="monday" value="monday" ng-checked="volunteer.changeAvailability('Monday')">Monday
                    </label>
                   <label class="checkbox">
                        <input type="checkbox" name="tuesday" id="tuesday" value="tuesday" ng-checked="volunteer.changeAvailability('Tuesday')">Tuesday
                    </label>
                        <label class="checkbox">
                        <input type="checkbox" name="wednesday" id="wednesday" value="wednesday" ng-checked="volunteer.changeAvailability('Wednesday')">Wednesday
                    </label>
                        <label class="checkbox">
                        <input type="checkbox" name="thursday" id="thursday" value="thursday" ng-checked="volunteer.changeAvailability('Thursday')">Thursday
                    </label>
                        <label class="checkbox">
                        <input type="checkbox" name="friday" id="friday" value="friday" ng-checked="volunteer.changeAvailability('Friday')">Friday
                    </label>
                        <label class="checkbox">
                        <input type="checkbox" name="saturday" id="saturday" value="saturday" ng-checked="volunteer.changeAvailability('Saturday')">Saturday
                    </label>
                        <label class="checkbox">
                        <input type="checkbox" name="sunday" id="sunday" value="sunday" ng-checked="volunteer.changeAvailability('Sunday')">Sunday
                    </label>
                        
                    </div>
                </div>
                
                
                <div class="form-group">
                    <label class="control-label col-xs-6 col-sm-5">List present and previous volunteer jobs:</label>
                    <div class="col-xs-6 col-sm-7">
                        <textarea name="prevVolunteerJobs" class="form-control" rows="2" ng-model="prevVolunteerJobs"></textarea>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-xs-6 col-sm-4">May we call you at work?</label>
                    <div class="checkbox col-xs-6 col-sm-2">        
                       <div class="btn-group btn-toggle" ng-model="callAtWork"> 
                            <button class="btn btn-sm btn-default" value="Yes" ng-click="volunteer.callUs(true)">YES</button>
                            <button class="btn btn-sm btn-primary active" value="No" ng-click="volunteer.callUs(false)">NO</button>
                        </div>
                    </div>

				<div ng-if="volunteer.shouldWeCall">
                    <label class="control-label col-xs-6 col-sm-2">Work Number:</label>
                    <div class="col-xs-6 col-sm-4">
                        <input type="text" name="workNumber" class="form-control" ng-model="workNumber"/>
                    </div>
                   </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-xs-6 col-sm-5">Educational experience (if currently in school, include name of school, grade and course of study):</label>
                    <div class="col-xs-6 col-sm-7">
                        <textarea name="educationalExperience" class="form-control" rows="4" ng-model="educationalExperience"></textarea>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-xs-6 col-sm-5">How did you come to know about volunteering at BCI?</label>
                    <div class="col-xs-6 col-sm-7">
                        <textarea name="howYouKnow" class="form-control" rows="2" ng-model="howYouKnow"></textarea>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-xs-6 col-sm-5">List additional information that may be useful (i.e., special skills, training, interests, hobbies):</label>
                    <div class="col-xs-6 col-sm-7">
                        <textarea name="additionalInfo" class="form-control" rows="2" ng-model="additionalInfo"></textarea>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="">
                        <button class="btn btn-primary col-xs-6 col-sm-offset-2 col-sm-3" ng-click="volunteer.submitForm()">Submit</button>
                    </div>
                </div>          
                
               
            </form>
        </div>
        </div>
    </div>
    <script src="js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
     <script src="js/bootstrapValidator.js"></script>
    
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/bootstrap-switch.min.js"></script>
    <script src="js/index.js"></script>
     <script type="text/javascript">
        
        $(".date-input").datepicker({
        });
        
        $('.btn-toggle').click(function() {
            $(this).find('.btn').toggleClass('active');  
    
            if ($(this).find('.btn-primary').size()>0) {
    	       $(this).find('.btn').toggleClass('btn-primary');
            }
    
            $(this).find('.btn').toggleClass('btn-default');
       
        });
         
        $('.carousel').carousel({
        interval: 5000 //changes the speed
    });
         
    </script>

</body>
</html>