<ion-view view-title="About Blue Cross of India" cache-view="true" enable-menu-with-back-views="false">
   <ion-nav-buttons side="left">
      <button ng-controller="utils" on-tap="go('back')" class="button icon ion-android-arrow-back"></button>
    </ion-nav-buttons>
           

    <ion-content class="animate-fade-slide-in">
    	<img src="img/about.jpg" style="width:100%"/>
		<div class="list about-bluecross">
			<p class="padding">
				The Blue Cross of India was established in 1959 and registered as a Society under the Societies Registration Act in 1964 to alleviate the suffering of animals. It has grown from small beginnings to become one of India’s largest animal welfare organizations, running active animal welfare, animal rights and humane education programmes.

			</p>

			<p class="padding">
				To ensure that all monies received by the Society are used primarily for animal welfare activities, the administration and non-medical activities of the Blue Cross of India are almost entirely looked after by members who donate their time and expertise on a purely honorary basis.
				
			</p>

			<p class="padding">
				The work of the Blue Cross has received national and international recognition. Its Office Bearers have served on many State and Central Government Committees over the last forty years.
			</p>
		</div>
	</ion-content>

</ion-view>